
/*Navbar*/

.navbar {
  background: rgba(0,0,0,0);
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height: $navbar-height;
  padding-left:$gutter;
  box-shadow: none;
}

.navbar  a {
    display: block;
    float: right;
    line-height: 10px;
    padding-right:5%;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    padding-top: 3%;
  }

}



/*Logo*/
#img{
  max-height: 300px;
  max-width: 200px;

}

/*Typewriting Stylign*/
.test{
  color: black;
  font-size: 30px;
  line-height: 100px;
  font-family: sans-serif;
}
